.headerImage {
  width: 50px;
  height: auto;
}

.background {
  width: 100%;
  height: 100vh;
  background-color: #1a191d;
}

.headerContainer {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 115px;
  justify-content: space-between;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.imageHeaderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 12%;
  height: 100%;
  width: 38%;
}

.itemHeaderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin-right: 12%;
  height: 100%;
  width: 38%;
}

.headerItem {
  margin-left: 10%;
  font-size: 20px;
  color: #e4dad1;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.headerItem:hover {
  color: white;
}

.headerItem a,
.headerItem a:visited,
.headerItem a:hover,
.headerItem a:active {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
  font-size: inherit;
  border: none;
  cursor: inherit;
}

.headerItemSelected {
  position: relative;
  margin-left: 10%;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.headerItemSelected:hover {
  color: white;
}

.headerItemSelected::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  height: 2px;
  width: 120%;
  background-color: #5cc5d6;
  transform: translateX(-50%);
}

.headerItemSelected a,
.headerItemSelected a:visited,
.headerItemSelected a:hover,
.headerItemSelected a:active {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
  font-size: inherit;
  border: none;
  cursor: inherit;
}

.pageContent {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  min-height: 100vh;
  min-height: calc(100vh - 115px);
  background-color: #1a191d;
}

.title {
  color: white;
  font-size: clamp(50px, 8vw, 200px);
  text-align: center;
  margin-bottom: 115px;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  background-color: #0e0e0e;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footerContainerTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 15px;
}

.footerImage {
  width: 50px;
}

.footerTitle {
  color: #e4dad1;
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.footerContainerContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 50px;
}

.footerContent {
  color: #e4dad1;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.footerContentLink {
  color: #e4dad1;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.footerContentLink:hover {
  color: white;
}

.footerContainerTitle a,
.footerContainerTitle a:visited,
.footerContainerTitle a:hover,
.footerContainerTitle a:active {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

.footerContainerContent a,
.footerContainerContent a:visited,
.footerContainerContent a:hover,
.footerContainerContent a:active {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

.projectPreviewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 400px;
  max-width: 600px;
}

.projectPreviewImage {
  width: 500px;
  height: 300px;
  object-fit: cover;
  border-style: solid;
  border-radius: 20px;
  border-color: white;
  border-width: 2px;
  transition: 0.3s ease;
}

.projectPreviewTitle {
  color: #e4dad1;
  font-size: 50px;
  text-align: center;
  margin-top: 10px;
}

.ProjectPreviewSection {
  display: flex;
  flex-direction: row;
  max-width: 1500px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin: 40px;
}

.ProjectsSectionTitle {
  color: white;
  font-size: 60px;
  text-align: center;
  margin-bottom: 50px;
}

.AboutSectionTitle {
  color: white;
  font-size: 60px;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 100px;
}

.titleSection {
  position: relative;
  z-index: 2;
  display: flex;
  min-height: calc(100vh - 115px);
  justify-content: center;
  align-items: center;
}

.AboutSection {
  max-width: 1500px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 140px;
}

.aboutText {
  color: #e4dad1;
  margin-bottom: 20px;
  font-size: 22px;
  text-align: center;
}

.tertiaryTitle {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.projectPreviewContainer a,
.projectPreviewContainer a:visited,
.projectPreviewContainer a:hover,
.projectPreviewContainer a:active {
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

.projectPreviewContainer:hover .projectPreviewTitle {
  color: white;
}

.projectPreviewContainer:hover .projectPreviewImage {
  transform: scale(1.05);
  transition: 0.3s ease;
}

.backgroundImageContainer {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #32214d;
  background-size: cover;
  background-position: center;
  z-index: 1;
  opacity: 1;
}

.backgroundImageContainer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
      circle,
      rgba(26, 25, 29, 0) 0%,
      rgba(26, 25, 29, 0.8) 100%
    ),
    linear-gradient(to bottom, rgba(26, 25, 29, 0) 0%, rgba(26, 25, 29, 1) 100%);
  z-index: 2;
}

.secondaryTitle {
  color: white;
  font-size: clamp(37.5px, 6vw, 150px);
  text-align: center;
  margin-bottom: 115px;
}

.backgroundImageContainerProjects {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #214d38;
  background-size: cover;
  background-position: center;
  z-index: 1;
  opacity: 1;
}

.backgroundImageContainerProjects::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
      circle,
      rgba(26, 25, 29, 0) 0%,
      rgba(26, 25, 29, 0.8) 100%
    ),
    linear-gradient(to bottom, rgba(26, 25, 29, 0) 0%, rgba(26, 25, 29, 1) 100%);
  z-index: 2;
}

.backgroundImageContainerAbout {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #0c376e;
  background-size: cover;
  background-position: center;
  z-index: 1;
  opacity: 1;
}

.backgroundImageContainerAbout::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
      circle,
      rgba(26, 25, 29, 0) 0%,
      rgba(26, 25, 29, 0.8) 100%
    ),
    linear-gradient(to bottom, rgba(26, 25, 29, 0) 0%, rgba(26, 25, 29, 1) 100%);
  z-index: 2;
}

.projectTitle {
  color: white;
  font-size: clamp(30px, 5vw, 120px);
  margin-bottom: 20vh;
}

.projectTitle2 {
  color: white;
  font-size: clamp(30px, 5vw, 120px);
  margin-bottom: 20vh;
  margin-top: 20vh;
}

.projectAboutText {
  color: #e4dad1;
  margin-bottom: 20px;
  font-size: 22px;
}

.projectPageContent {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: calc(100vh - 115px);
  background-color: #1a191d;
  justify-content: center;
  align-items: center;
}

.projectAboutSection {
  max-width: 60vw;
  margin-bottom: 140px;
}

.textImage {
  width: 60vw;
  height: auto;
  justify-content: center;
  align-items: center;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 8vh;
}

.textImage2 {
  width: 15vw;
  height: auto;
  justify-content: center;
  align-items: center;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 8vh;
}

.textImage3 {
  width: 30vw;
  max-width: 500px;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 8vh;
}

.textImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
